
html{
    /*width: 1000px;*/
    margin: 0px;
}
body{
    font-family: "Comic Sans MS";
}
.Users{
    width: 1000px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
.Userinfo{
    width: 400px;
    height: 250px;

    background: #eee;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
    float: left;


    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    position: relative;
   border: 2px solid black;
    font-size: 30px;

}
p{
    width: 80%;
}

button{
    height: 40px;
    position: absolute;
    bottom: 10%;
}
